<div class="container">
     <div class="row justify-content-center">
          <div class="col-12">


<div class="container nudimo">
<h2 class="hola">Nudimo:</h2>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;online individualne i grupne časove &nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Nebitno da li si timski igrač ili želiš da ideš sopstvenim ritmom, imamo opciju za sve. Zakaži individualni čas i prilagodićemo nastavu tvojim potrebama. Ukoliko više voliš rad u grupi (2 do 4 polaznika), potrudićemo da se organizujemo ekipu po tvojoj meri.</p>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;personalizovani pristup i časove po vašoj meri&nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Nastava se usklađuje tvojim ciljevima učenja (polaganje nivoa, rad ili studiranje u nekoj zemlji španskog govornog područja, itd.). Takođe se trudimo da se usmerimo na tvoja interesovanja i oblasti znanja jer učenje uvek mora biti uživanje!</p>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;određivanje nivoa&nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Ukoliko nisi završio/la zvanični kurs španskog jezika, ali ipak znaš nešto ili mnogo (odgledao/la se neka serija, učio/la se na Duolingu, itd.), zakaži svoj čas određivanja nivoa i uz malo ćaskanja ćemo odrediti koja je tvoja startna pozicija.</p>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;kurseve prema evropskom okviru (A1, A2, B1, B2, C1)&nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Za sve vas koji se spremate na zvanično polaganje ispita iz španskog jezika, radimo prema utvrđenim evropskim nivoima (od A1 do C1). Koristimo zvanične udžbenike španskog jezika i prelazimo oblasti i gradivo predviđeno svakim nivoom znanja stranog jezika.</p>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;priprema za DELE i ostale vrste ispita&nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Pripremaš se za DELE, ispit na fakultetu ili bilo koju drugu proveru znanja? Tu smo da ti pomognemo! Imamo iskustva u ovoj vrsti rada i uspešno spremamo naše polaznike da “rasture” na svim mogućim ispitima iz španskog.</p>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;časove konverzacije&nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Sve razumem, ali kada treba da pričam, izgubim se. Nema problema, za ovu boljku smo spremili časove konverzacije. Uz prijatno ćaskanje na različite teme, vežbamo aktivno korišćenje jezika, uvek uz utvrđivanje gramatike, vokabulara, itd.</p>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;poslovni španski&nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Potrebno ti je ovladaš konkretnom poslovnom terminologijom na španskom ili ideš na studije u neku zemlju španskog govornog područja? Kreiramo posebne časove prilagođene tvojim potrebama!</p>
</div>
<button class="accordion"><i class="far fa-dot-circle"></i>&nbsp;prevod&nbsp;<i class="fas fa-angle-down"></i></button>
<div class="card-text charla panel">
  <p>Ukoliko ti je potrebna bilo koja vrsta prevoda (bez overe sudskog tumača), naš tim će se potruditi da verodostojno i u duhu jezika prevede različite vrste tekstova sa srpskog na španski i obrnuto.</p>
</div>
          </div>
     </div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("activate");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

