<!DOCTYPE html>
{% load static %}

{% block extrahead %}

  <script>window.CKEDITOR_BASEPATH = 'static/ckeditor/ckeditor/';</script>

  {{ block.super }}
{% endblock %}

<html lang="sr">
<head>
    <title>Online časovi španskog jezika</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Charla con Ivona-mesto gde ljubitelji španskog jezika mogu da, uz interaktivnu stranicu i online časove, uživaju u kontaktu sa jednim od najlepših jezika sveta.">
    <meta name="robots" content="ALL"/>
    <meta name="keywords" content="casovi jezika, casovi spanskog jezika, online casovi jezika, Spanija, putovanje u Spaniju, studiranje u Spaniji, zivot u Spaniji, posao u Spaniji, student spanskog, ispit, polaganje ispita, priprema za ispit, priprema za DELE, online kursevi, spanski kurs, spanski jetik, ucenje, skola, spanski preko interneta, skola spanskog jezika, spanski u Beogradu, online kursevi spanskog jezika">
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' type='image/x-icon' %}">
    <script src="https://kit.fontawesome.com/f5551af0e4.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock%}
</head>
<body>
<div id="overall">
    <div id="main">
{% include 'navbar.html' %}
{% block body %}
{% endblock%}
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row justify-content-center">
    <small>
          <i class="far fa-copyright"> Copyright 2020 Charla con Ivona</i>
    </small>
        </div>
        </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>