{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<nav class="navbar navbar-expand-md">
 <a href="{% url 'home' %}" class="navbar-brand">
        <img class="logo" src="{% static 'images/logo.png'%}" alt="logo">
    </a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
        <i style="color: #f8f1ad;" class="fas fa-bars fa-lg"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{% url 'home' %}" class="nav-link">P O Č E T N A&nbsp;  S T R A N A</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog' %}" class="nav-link">B L O G</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'contact' %}" class="nav-link">K O N T A K T</a>
            </li>
        </ul>
    </div>
</nav>