{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

 {% block head %}
    <title>Blog</title>
{% endblock%}


{% block body %}

    <div class="container">
        <div class="container">
             <div class="row justify-content-end">
                 <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="Pretraži blog..." value="{{ request.GET.q }}">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Pretraga</button>
                 </form>
             </div>
        </div>
        {% for post in page_obj %}
            <div class="card border-dark mb-6" style="max-width: 800px;">
                  <div>
                      <a href="{% url 'post' id=post.id %}">
                        <h4 class="card-header" id="blog-title">{{post.title|upper}}</h4>
                      </a>
                  </div>
                  <div class="card-body text-dark">
                      <a href="{% url 'post' id=post.id %}">
                        <h4 style="padding-top: 20px;" class="card-text blog">{{post.content|safe |truncatewords:20|linebreaks}}</h4>
                      </a>
                  </div>
                  <div class="card-footer text-muted">

                      <small class="text-muted">Autor: {{post.author}}</small><hr>
                      <small class="text-muted">{{post.publish}}</small>
                  </div>
            </div><hr style="background-color: black !important; color: black!important; border: solid 0.5px black !important; height: 0.5px !important; opacity: 70% !important;">
        {% empty %}
            <div class="container">
                <div class=" row justify-content-center">
                     <img style="max-width: 800px" src="{% static 'images/nothing.png' %}" class="card-img-bottom" alt="picture" >
                </div>
            </div>
        {% endfor %}

        {% if page_obj.paginator.num_pages != 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                            <a href="?page=1&q={{request.GET.q}}"><i class="fas fa-angle-double-left"></i></a>
                            <a href="?page={{ page_obj.previous_page_number }}&q={{request.GET.q}}"><i class="fas fa-angle-left"></i>&nbsp;</a>
                        {% endif %}
                    </li>
                    <li class="page-item" >
                        <strong style="font-size: 18px">{{ page_obj.number }} od {{ page_obj.paginator.num_pages }}&nbsp;</strong>
                    </li>
                    <li class="page-item">
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&q={{request.GET.q}}"><i class="fas fa-angle-right"></i></a>
                            <a  href="?page={{ page_obj.paginator.num_pages }}&q={{request.GET.q}}"><i class="fas fa-angle-double-right"></i></a>
                        {% endif %}
                    </li>
                </ul>
            {% else %}
                <ul style="display: none" class="pagination justify-content-end">
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock%}