{% extends 'base.html' %}
{% load static %}

{% block head %}
        <title>{{post.title}}</title>
{% endblock%}


{% block body %}
<div class="container">
     <div class="row justify-content-center">
        <div class="card-body">
            <h4 style="text-align: center !important;" class="card-header" id="blog-title2">{{post.title}}</h4>
            <h4 style="padding: 20px" class="card-text blog">{{post.content|safe|linebreaks}}</h4><hr>
            <p style="text-align: end !important;" class="card-text blog"><small class="text-muted">Autor: {{post.author}}</small></p><hr>
            <p style="text-align: end !important;" class="card-text blog"><small class="text-muted">{{post.publish}}</small></p><hr>

            <a style="text-align: end !important;" class="fab-share" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}">
                 <i style="color: #3d62f5" class="fab fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
{% endblock%}