{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}
    <title>Prijava</title>
{% endblock%}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
<div class="card">
  <div class="row no-gutters">
      <div class="col-lg-4">
    <img id="contact" src="{% static 'images/pen5.png' %}" class="card-img" alt="picture" >
  </div>

  <div class="col-lg-8">
      <div class="card-body">
     <h4>Popuni prijavu</h4>
            <small>Polja označena zvezdicom(*) su obavezna</small><br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dark" role="alert">
                       {{ message }}
                     </div>

                 {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ contact_form|crispy}}
                <button class="btn btn-dark" type="submit">Pošalji prijavu</button>
            </form>
  </div>
</div>
  </div>
</div>
    </div>
</div>

{% endblock%}